@font-face {
  font-family: 'lucid';
  src: url('../font/lucid.eot?85255632');
  src: url('../font/lucid.eot?85255632#iefix') format('embedded-opentype'),
       url('../font/lucid.woff2?85255632') format('woff2'),
       url('../font/lucid.woff?85255632') format('woff'),
       url('../font/lucid.ttf?85255632') format('truetype'),
       url('../font/lucid.svg?85255632#lucid') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'lucid';
    src: url('../font/lucid.svg?85255632#lucid') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "lucid";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-cup:before { content: '\e800'; } /* '' */
.icon-energy:before { content: '\e801'; } /* '' */
.icon-envelope:before { content: '\e802'; } /* '' */
.icon-like:before { content: '\e803'; } /* '' */
.icon-monitor:before { content: '\e804'; } /* '' */
.icon-mouse:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-pointer:before { content: '\e807'; } /* '' */
.icon-settings:before { content: '\e808'; } /* '' */
.icon-speedometer:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */