
.icon-cup:before { content: '\e800'; } /* '' */
.icon-energy:before { content: '\e801'; } /* '' */
.icon-envelope:before { content: '\e802'; } /* '' */
.icon-like:before { content: '\e803'; } /* '' */
.icon-monitor:before { content: '\e804'; } /* '' */
.icon-mouse:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-pointer:before { content: '\e807'; } /* '' */
.icon-settings:before { content: '\e808'; } /* '' */
.icon-speedometer:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */